<h2 align="center">Login to MyInterest</h2>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row">
  <div class="col s6">
    <div align="center">
      <div class="col s12">
        <div class="row"></div>
        <div class="row"></div>
        <button class="loginBtn loginBtn--facebook" (click)="onFacebookLogin()">Login with Facebook</button>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div align="center">
      <div class="col s12">
        <h5>Don't have an account?</h5>
        <a class="waves-effect waves-light btn" (click)="onFacebookRegister()">Register</a>
      </div>
    </div>
  </div>
</div>
