<!--<div align="center" *ngIf="ready">-->
  <!--<h2>{{user.name | uppercase}}</h2>-->
  <!--<ul class="collection">-->
    <!--<img [src]="user.image" alt="" class="circle">-->
  <!--</ul>-->
  <div class="container" *ngIf="ready">
    <h2>{{user.name | uppercase}}</h2>
    <img [src]="user.image" alt="">

    <h4>Interests</h4>
    <ul class="collection">
      <li class="collection-item avatar" *ngIf="user.categories.includes('economy')">
        <i class="circle material-icons">account_balance </i>
        <span class="title"><strong>Economy</strong></span>
      </li>
      <li class="collection-item avatar" *ngIf="user.categories.includes('politics')">
        <i class="circle material-icons">group </i>
        <span class="title"><strong>Politics</strong></span>
      </li>
      <li class="collection-item avatar" *ngIf="user.categories.includes('sport')">
        <i class="circle material-icons">fitness_center </i>
        <span class="title"><strong>Sport</strong></span>
      </li>
      <li class="collection-item avatar" *ngIf="user.categories.includes('science')">
        <i class="circle material-icons">lightbulb_outline </i>
        <span class="title"><strong>Science</strong></span>
      </li>
      <li class="collection-item avatar" *ngIf="user.categories.includes('today')">
        <i class="circle material-icons">videogame_asset </i>
        <span class="title"><strong>Today</strong></span>
      </li>
      <li class="collection-item avatar" *ngIf="user.categories.includes('world')">
        <i class="circle material-icons">public </i>
        <span class="title"><strong>World</strong></span>
      </li>
      <li class="collection-item avatar" *ngIf="user.categories.includes('culture')">
        <i class="circle material-icons">favorite </i>
        <span class="title"><strong>Culture</strong></span>
      </li>
    </ul>
    <h2 *ngIf="posts.length < 1 ">No posts yet</h2>
  </div>

<app-post-list *ngIf="posts.length" [posts]="posts"></app-post-list>


<!--<button (click)="onShowUserAndId()">Show user and id</button>-->
